POSTGRES_DB=cripto
POSTGRES_USER=cripto
POSTGRES_PASSWORD=cripto
POSTGRES_PORT=5433
BACKEND_PORT=8081
FRONTEND_PORT=5173
APP_MONITOR_FIXED_RATE_MS=60000
APP_PRICE_BASE_URL=https://api.coingecko.com/api/v3
APP_WALLET_ETHPLORER_BASE_URL=https://api.ethplorer.io
